<div class="media media--transparent media--{{ media_size }} media--hover-effect"
     {% if media_size == 'adapt' and product_card_product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
     >
  {%- liquid
      	assign second_img_position = product_card_product.featured_media.position
        assign second_img_position = second_img_position | plus: 1
      -%}
  <img
       srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | image_url: width: 165, format: 'webp' }} 165w,{%- endif -%}
               {%- if product_card_product.featured_media.width >= 240 -%}{{ product_card_product.featured_media | image_url: width: 240, format: 'webp' }} 240w,{%- endif -%}
            {%- if product_card_product.featured_media.width >= 300 -%}{{ product_card_product.featured_media | image_url: width: 300, format: 'webp' }} 300w,{%- endif -%}
            {%- if product_card_product.featured_media.width >= 420 -%}{{ product_card_product.featured_media | image_url: width: 420, format: 'webp' }} 420w,{%- endif -%}
            {%- if product_card_product.featured_media.width >= 600 -%}{{ product_card_product.featured_media | image_url: width: 600, format: 'webp' }} 600w{%- endif -%}"
       src="{{ product_card_product.featured_media | image_url: width: 300, format: 'webp' }}"
       sizes="(min-width: 990px) 600px, 300px"
       alt="{{ product_card_product.featured_media.alt | escape }}"
       loading="lazy"
       class="motion-reduce"
       width="{{ product_card_product.featured_media.width }}"
       height="{{ product_card_product.featured_media.height }}"
       data-media-id="{{ section.id }}-{{ product_card_product.featured_media.id }}"
       >


  {%- if product_card_product.media[second_img_position] != nil and show_secondary_image -%}
  <img
       srcset="{%- if product_card_product.media[second_img_position].width >= 165 -%}{{ product_card_product.media[second_img_position] | image_url: width: 165, format: 'webp' }} 165w,{%- endif -%}
               {%- if product_card_product.media[second_img_position].width >= 240 -%}{{ product_card_product.media[second_img_position] | image_url: width: 240, format: 'webp' }} 240w,{%- endif -%}
            {%- if product_card_product.media[second_img_position].width >= 300 -%}{{ product_card_product.media[second_img_position] | image_url: width: 300, format: 'webp' }} 300w,{%- endif -%}
            {%- if product_card_product.media[second_img_position].width >= 420 -%}{{ product_card_product.media[second_img_position] | image_url: width: 420, format: 'webp' }} 420w,{%- endif -%}
            {%- if product_card_product.media[second_img_position].width >= 600 -%}{{ product_card_product.media[second_img_position] | image_url: width: 600, format: 'webp' }} 600w{%- endif -%}"
       src="{{ product_card_product.media[second_img_position] | image_url: width: 300, format: 'webp' }}"
       sizes="(min-width: 990px) 600px, 300px"
       alt="{{ product_card_product.media[second_img_position].alt | escape }}"
       loading="lazy"
       class="motion-reduce secondary__img"
       width="{{ product_card_product.media[second_img_position].width }}"
       height="{{ product_card_product.media[second_img_position].height }}"
       data-media-id="{{ section.id }}-{{ product_card_product.media[second_img_position].id }}"
       >
  {%- endif -%}
</div>